/* * = Todos os elementos */
*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* Barra de navegação*/

.barra_nav{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    font-size: 35px;
    color:rgb(241, 42, 109);
    cursor: pointer;
    width: 155px;
    height: 70px;
    border-radius: 20px;
}
.logo:hover{
    transform: scale(1.1);
}
.video_fundo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    background-size: cover;
    background-position: center;
}
.video{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
    border-radius: 20px;
}
.conteudo{
    position: relative;
    z-index: 1;
    padding: 20px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: rgb(241, 42, 109);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: whitesmoke;
}
.botão{
    background-color: rgb(241, 42, 109);
    color:whitesmoke;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    height: 8%;
    text-decoration: none;
}
.botão:hover{
    transform: scale(1.1);
}

/* Conteúdo ínicio */
.Cabeçalho{
    height: 100vh;
    width: 50%;
    background-image: url(Media/Fundo\ rosa.jpeg);
    position: absolute;
    top:45%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    z-index: -2;
}
/*
.conteudo_cabeçalho{
    height: 88%;
    width: 100%;
    position: absolute;
    top:30%;
    left:8%;
    transform: translate(-50%);
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    z-index: 1
} */
.conteudo_cabeçalho{
    width: 100px;
    padding-top: 50px;
    flex-basis: 100%;
    align-items: center;
}
.conteudo_cabeçalho h2{
    color:black;
}
button{
    width: 180px;
    color:black;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.conteudo_cabeçalho2{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-image: url(Media/Fundo\ rosa.jpeg);
    height: 100vh;
    width: 50%;
    position: absolute;
    padding-top: 45px;
    padding-left: 50%;

}
.fotos{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.roupa1{
    background-image: url(Media/Foto\ short\ preto\ camisa\ branca.jpeg);
}
.roupa2{
    background-image: url(Media/Foto\ short\ preto\ blusa\ marrom.jpeg);
}
.roupa3{
    background-image: url(Media/Foto\ conjunto\ preto.jpeg);
}
.roupa4{
    background-image: url(Media/Foto\ 4\ blusas.jpeg);
}

.fotos:hover{
    transform: translateY(-10px);
}
